@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}
.btn {
  border: 2px solid rgb(30, 77, 153);
  border-radius: 3rem;

  color: rgb(30, 77, 153);

  font-family: "Roboto", sans-serif;

  overflow: hidden;

  padding: 1rem 2rem;

  position: relative;

  text-decoration: none;

  transition: 0.2s transform ease-in-out;

  will-change: transform;

  z-index: 0;
}

.btn::after {
  background-color: rgb(30, 77, 153);

  border-radius: 3rem;

  content: "";

  display: block;

  height: 100%;

  width: 100%;

  position: absolute;

  left: 0;

  top: 0;

  transform: translate(0, 100%);

  transform-origin: bottom;

  transition: 0.3s transform ease-in-out;

  will-change: transform;

  z-index: -1;
}

.btn:hover::after {
  transform: translate(0, 0);
}

.btn:hover {
  border: 2px solid transparent;

  color: white;

  transform: scale(1.05);
  background: white;

  will-change: transform;
}

.play-pause {
  padding: 0.5rem;
  color: white;
  border: 1px solid white;
  position: absolute;
  top: 0;
  left:0;
  z-index: 100;
}

/* music bars */

.playing {
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  transform: translateX(-50%) translateY(-50%);
}
.playing:after {
  display: block;
  width: 100%;
  margin-top: 10px;
}
.now.playing .bar {
  display: inline-block;
  position: relative;
  margin-right: 1px;
  width: 5px;
  height: 0.5px;
  overflow: hidden;
  background: linear-gradient(to bottom, white, #c9c9c9);
  color: transparent;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#music {
  position: absolute;
  top: 100px;
  left: 15px;
  z-index: 200;
}
.paused.playing .bar {
  animation-iteration-count: 1;
}
.n1 {
  animation-delay: 0.2s;
}
.n2 {
  animation-delay: 0.4s;
}
.n3 {
  animation-delay: 0.6s;
}
.n4 {
  animation-delay: 0.8s;
}
@keyframes pulse {
  0% {
    height: 1px;
    margin-top: 0;
  }
  10% {
    height: 10px;
    margin-top: -10px;
  }
  50% {
    height: 30px;
    margin-top: -30px;
  }
  60% {
    height: 25px;
    margin-top: -25px;
  }
  80% {
    height: 15px;
    margin-top: -15px;
  }
  100% {
    height: 1px;
    margin-top: 0;
  }
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

/* TRACK */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.23);
}

/* HANDLE */
::-webkit-scrollbar-thumb {
  background: white;
  height: 10%;
}
